.root {
  background: #f8f8f8;
  height: 100vh;
}

.wrapper {
  max-width: 1400px;
  padding: 8px 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  display: flex;
  gap: 8px;
  padding: 8px 16px;
}

.header {
  display: flex;
  gap: 184px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
}

.content {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  padding: 0;
  flex: 1;
  overflow: scroll !important;
  -webkit-overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.movies {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.films {
  width: 100%;
  max-width: 864px;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: max-content;
}

.about {
  width: 264px;
  position: sticky;
  white-space: nowrap;
  top: 8px;
  line-height: 1;
  font-weight: 600;
}

.pagination {
  border-top: 1px solid rgba(5, 5, 5, 0.06);
  width: 100%;
  padding-top: 16px;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 16px 24px;
  }
}

@media (max-width: 576px) {
  .wrapper {
    padding: 8px;
  }

  .pagination {
    padding-top: 8px;
  }
}
