.background {
  background-color: #f6f6f6;
}

.root {
  max-width: 1220px;
  padding: 24px 40px;
  margin: 0 auto;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.header {
  display: flex;
  gap: 184px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
}

.content {
  display: flex;
  gap: 64px;
  padding: 24px 0;
  flex: 1;
  overflow: auto;
}

.movies {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.pagination {
  border-top: 1px solid rgba(5, 5, 5, 0.06);
  width: 100%;
  padding-top: 16px;
  display: flex;
  justify-content: center;
}
