.posters {
  /* border-radius: 8px;
  padding: 8px; */
  /* overflow: hidden; */
  /* width: 100%; */
  /* background-color: #ffffff; */
  /* height: 320px; */
}

.poster {
  display: flex;
  align-items: center;
}
