.link {
  text-decoration: none;
}

.wrapper {
  display: flex;
  max-width: 880px;
  min-height: 80px;
  border-radius: 8px;
  background-color: white;
  overflow: hidden;
}

.description {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  width: 100%;
  gap: 16px;
}

.img {
  max-width: 56px;
  width: 100%;
  min-height: 80px;
  background-position: 50% 50%;
  background-size: cover;
}

.text {
  display: flex;
  flex-direction: column;
}

.rating {
  white-space: nowrap;
}
