.header {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
}

.title {
  width: 200px;
  color: #c5c5c5;
}

.mobileMenuIcon {
  display: none;
}

@media (max-width: 992px) {
  .title {
    width: 192px;
  }
}

@media (max-width: 668px) {
  .header {
    justify-content: space-between;
    padding-bottom: 8px;
  }

  .mobileMenuIcon {
    display: block;
  }

  .title {
    display: none;
  }

  .sectionName {
    display: block;
  }
}
