.header {
  display: flex;
  gap: 8px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
}

.title {
  color: '#C5C5C5';
  width: 200px;
}

.mobileMenuIcon {
  display: none;
}

@media (max-width: 576px) {
  .header {
    justify-content: space-between;
  }

  .mobileMenuIcon {
    display: block;
  }

  .title {
    display: none;
  }

  .sectionName {
    display: block;
  }
}
