.sider {
  width: 200px;
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.sider.mobile {
  display: none;
}

.searchWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 100%;
}

.filtersWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 992px) {
  .sider {
    width: 168px;
  }
}

@media (max-width: 668px) {
  .sider {
    display: none;
  }

  .sider.mobile {
    display: flex;
    width: 100%;
  }
}
