.sider {
  width: 200px;
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mobile {
  display: none;
}

.searchWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 100%;
}

.filtersWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 992px) {
  .sider {
    width: 180px;
  }
}

@media (max-width: 576px) {
  .sider {
    display: none;
  }
  .mobile {
    display: block;
  }
}
